<section class='photos_field'>
<%= form_for @photo, html: {multipart: true} do |f| %>
  <%= f.label :caption %>
  <%= f.text_field :caption %>
  <%= f.submit 'Upload photo' %>
  <%= f.label :image %>
  <%= f.file_field :image %>
<% end %>
</section>




